<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles/index.css">
    <title>Document</title>
</head>

<body>
    <div class="login-form">
        <form action="/savedetails" method="post">
            <h1>Registration</h1>
            <div class="content">
                <div class="input-field">

                    <input type="text" placeholder="username" autocomplete="nope" name="username" required>
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Password" autocomplete="new-password" name="password" required>
                </div>
                <div class="input-field">
                    <input type="email" placeholder="Email" autocomplete="nope" name="email" required>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="phone" autocomplete="nope" onkeypress="return ((event.charCode !=8 && event.charCode ==0 )|| (event.charCode >= 48 && event.charCode <= 57))" name="phone" required />
                    <!-- <input type="text" placeholder="phone" autocomplete="nope" name="phone" required> -->
                </div>
                <br>

                <div class="action">
                    <button>Register</button>
                </div>
                <br>
                <div class="ask">
                    <a href="/login">
                        <p><u>Already have an account ? <b> Login here </b></u></p>
                    </a>
                </div>

        </form>
        </div>


</body>

</html>